<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<form action="answer"> <!-- this is where you go when you submit the form -->
  <input type="text" name="question" placeholder="what would you like to ask?"> <!-- form name has to be the parameter in the URL -->
  <input type="submit" value="Ask!">
</form>

<!-- ACTION specifies the URL that will be used when submitting the form -->
<!-- NAME enables you to name each parameter corresponding to each input of the form. -->